header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: #000000a9;
    /* background: radial-gradient(at center, #7434BD, #010101); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    animation: background-opacity-animated-bright 25s infinite normal;
}

header.masthead .masthead-content {
    padding-top: 3vh;
    padding-bottom: 5vh;
    z-index: 1;
    position: relative;
    opacity: 100%;
}

header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
}

header.masthead .masthead-content .masthead-subsubheading {
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}

@keyframes background-opacity-animated-bright {
    0% {
        background-color: #00000000;
    }

    50% {
        background-color: #0000009d;
    }

    100% {
        background-color: #00000000;
    }
}

@keyframes background-opacity-bright {
    0% {
        background-color: #00000028;
    }

    100% {
        background-color: #00000028;
    }
}

@keyframes background-opacity-animated-dark {
    0% {
        background-color: #00000077;
    }

    50% {
        background-color: #000000d8;
    }

    100% {
        background-color: #00000077;
    }
}

@keyframes background-opacity-dark {
    0% {
        background-color: #000000be;
    }

    100% {
        background-color: #000000be;
    }
}

@keyframes background-opacity-extra-dark {
    0% {
        background-color: #000000e7;
    }

    100% {
        background-color: #000000e7;
    }
}

@keyframes background-opacity-black {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #000000;
    }
}


@keyframes star-opacity-animation {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 90%;
    }

    100% {
        opacity: 0%;
    }
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;
    }

    header.masthead .masthead-content .masthead-heading {
        text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
        font-size: 5rem;
    }

    header.masthead .masthead-content .masthead-subheading {
        text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
        font-size: 3rem;
    }
}

.btn-primary {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --bs-btn-color: #fff;
    --bs-btn-bg: #cccccc;
    --bs-btn-border-color: #b2b2b2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #808080;
    --bs-btn-hover-border-color: #808080;
    --bs-btn-focus-shadow-rgb: 241, 46, 141;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #808080;
    --bs-btn-active-border-color: #808080;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b2b2b2;
    --bs-btn-disabled-border-color: #b2b2b2;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1rem;
    padding-bottom: 1rem;
    animation: navbar-animation 60s linear infinite both;
}

header.masthead .bg-star-small {
    z-index: 0;
    position: absolute;
    font-size: 0.1vw;
    transition: 0.3s;
    opacity: 80%;
    width: 4vw;
    height: 4vw;
    text-shadow: rgb(255, 255, 255) 0px 0 5px;
}

#background_stars_small div:nth-child(1) {
    top: 15vh;
    left: 3vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(2) {
    top: 30vh;
    left: 40vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(3) {
    top: 57vh;
    left: 63vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(4) {
    top: 50vh;
    left: 30vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(5) {
    top: 90vh;
    left: 50vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(6) {
    top: 57vh;
    left: 83vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(7) {
    top: 40vh;
    left: 20vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(8) {
    top: 63vh;
    left: 58vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(9) {
    top: 64vh;
    left: 27vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

#background_stars_small div:nth-child(10) {
    top: 14vh;
    left: 95vw;
    /* animation: star-opacity-animation 10s ease-in-out infinite both; */
}

header.masthead .bg-star {
    z-index: 0;
    position: absolute;
    font-size: 0.5vw;
    transition: 0.3s;
    width: 4vw;
    height: 4vw;
    text-shadow: rgb(255, 255, 255) 0px 0 5px;
}

#background_stars div:nth-child(1) {
    /* Asterism Big Dipper */
    top: 10vh;
    left: 7vw;
    animation: star-opacity-animation 10s ease-in-out infinite both;
}

#background_stars div:nth-child(2) {
    /* Asterism Big Dipper */
    top: 12vh;
    left: 12vw;
    animation: star-opacity-animation 17s ease-in-out infinite both;
}

#background_stars div:nth-child(3) {
    top: 37vh;
    left: 33vw;
    animation: star-opacity-animation 14s ease-in-out infinite both;
}

#background_stars div:nth-child(4) {
    top: 47vh;
    left: 77vw;
    animation: star-opacity-animation 23s ease-in-out infinite both;
}

#background_stars div:nth-child(5) {
    top: 69vh;
    left: 69vw;
    animation: star-opacity-animation 13s ease-in-out infinite both;
}

#background_stars div:nth-child(6) {
    top: 81vh;
    left: 88vw;
    animation: star-opacity-animation 10s ease-in-out infinite both;
}

#background_stars div:nth-child(7) {
    top: 23vh;
    left: 75vw;
    animation: star-opacity-animation 12s ease-in-out infinite both;
}

#background_stars div:nth-child(8) {
    top: 5vh;
    left: 91vw;
    animation: star-opacity-animation 18s ease-in-out infinite both;
}

#background_stars div:nth-child(9) {
    top: 74vh;
    left: 28vw;
    animation: star-opacity-animation 6s ease-in-out infinite both;
}

#background_stars div:nth-child(10) {
    top: 90vh;
    left: 5vw;
    animation: star-opacity-animation 24s ease-in-out infinite both;
}

#background_stars div:nth-child(11) {
    top: 65vh;
    left: 14vw;
    animation: star-opacity-animation 29s ease-in-out infinite both;
}

#background_stars div:nth-child(12) {
    top: 12vh;
    left: 44vw;
    animation: star-opacity-animation 24s ease-in-out infinite both;
}

#background_stars div:nth-child(13) {
    top: 36vh;
    left: 90vw;
    animation: star-opacity-animation 27s ease-in-out infinite both;
}

#background_stars div:nth-child(14) {
    top: 80vh;
    left: 57vw;
    animation: star-opacity-animation 18s ease-in-out infinite both;
}

#background_stars div:nth-child(15) {
    top: 95vh;
    left: 37vw;
    animation: star-opacity-animation 12s ease-in-out infinite both;
}

#background_stars div:nth-child(16) {
    top: 62vh;
    left: 1vw;
    animation: star-opacity-animation 21s ease-in-out infinite both;
}

#background_stars div:nth-child(17) {
    /* Asterism Big Dipper */
    top: 17vh;
    left: 14vw;
    animation: star-opacity-animation 34s ease-in-out infinite both;
}

#background_stars div:nth-child(18) {
    /* Asterism Big Dipper */
    top: 21vh;
    left: 17vw;
    animation: star-opacity-animation 9s ease-in-out infinite both;
}

#background_stars div:nth-child(19) {
    /* Asterism Big Dipper */
    top: 24vh;
    left: 25vw;
    animation: star-opacity-animation 19s ease-in-out infinite both;
}

#background_stars div:nth-child(20) {
    /* Asterism Big Dipper */
    top: 31vh;
    left: 22vw;
    animation: star-opacity-animation 32s ease-in-out infinite both;
}

#background_stars div:nth-child(21) {
    /* Asterism Big Dipper */
    top: 27vh;
    left: 16.5vw;
    animation: star-opacity-animation 14s ease-in-out infinite both;
}

#background_stars div:nth-child(22) {
    top: 4vh;
    left: 65vw;
    animation: star-opacity-animation 21s ease-in-out infinite both;
}

#background_stars div:nth-child(23) {
    top: 70vh;
    left: 97vw;
    animation: star-opacity-animation 18s ease-in-out infinite both;
}

#background_stars div:nth-child(24) {
    top: 90vh;
    left: 70vw;
    animation: star-opacity-animation 24s ease-in-out infinite both;
}

#background_stars div:nth-child(25) {
    top: 85vh;
    left: 18vw;
    animation: star-opacity-animation 29s ease-in-out infinite both;
}

#background_stars div:nth-child(26) {
    top: 70vh;
    left: 40vw;
    animation: star-opacity-animation 12s ease-in-out infinite both;
}

#background_stars div:nth-child(27) {
    top: 32vh;
    left: 60vw;
    animation: star-opacity-animation 14s ease-in-out infinite both;
}

#background_stars div:nth-child(28) {
    top: 66vh;
    left: 80vw;
    animation: star-opacity-animation 22s ease-in-out infinite both;
}

#background_stars div:nth-child(29) {
    top: 98vh;
    left: 78vw;
    animation: star-opacity-animation 38s ease-in-out infinite both;
}

#background_stars div:nth-child(30) {
    top: 6vh;
    left: 28vw;
    animation: star-opacity-animation 21s ease-in-out infinite both;
}

#background_stars div:nth-child(31) {
    top: 19vh;
    left: 55vw;
    animation: star-opacity-animation 15s ease-in-out infinite both;
}

#background_stars div:nth-child(32) {
    top: 37vh;
    left: 5vw;
    animation: star-opacity-animation 12s ease-in-out infinite both;
}

.star-flare {
    width: 6vh;
    height: 6vh;
    top: 10vh;
    right: 20vw;
    position: absolute;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.466) 0%, rgba(255,255,255,0) 50%);
    /* background-image: url(flare.png);
    background-size: cover; */
    -webkit-filter: drop-shadow(0 0 10px white);
    filter: drop-shadow(0 0 10px white);
    animation: star-flare 8s linear infinite both;
}

@keyframes star-flare {
    0% {
        opacity: 0%;
    }

    35% {
        opacity: 0%;
    }

    45% {
        opacity: 90%;
    }

    55% {
        opacity: 90%;
    }

    65% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}


header.masthead .bg-falling-star {
    z-index: 0;
    position: absolute;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(247, 170, 69, 0)), color-stop(100%, rgba(247, 170, 69, 1))); */
    /* mask-size: 100%; */
    background: linear-gradient(90deg, #916b0300 0%, #f7aa45 80%);
    filter: drop-shadow(8px 0 8px rgb(255, 255, 255));
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
    transition: 3s;
    opacity: 70%;
}

#background_falling_stars div:nth-child(1) {
    height: 0.8vh;
    width: 15vw;
    top: -20vh;
    right: -20vw;
    rotate: 135deg;
    border-radius: 5% / 50%;
    background: linear-gradient(90deg, #ffffff00 10%, #ffffff 80%);
    animation: falling-star-animation-1 25s linear infinite both;
}

#background_falling_stars div:nth-child(2) {
    height: 0.5vh;
    width: 10vw;
    top: 20vh;
    right: 40vw;
    rotate: 135deg;
    border-radius: 5% / 50%;
    background: linear-gradient(90deg, #ffffff00 10%, #ffffff 80%);
    animation: falling-star-animation-2 35s linear infinite both;
    animation-delay: 1s;
}

#background_falling_stars div:nth-child(3) {
    height: 1vh;
    width: 17vw;
    top: 60vh;
    right: 30vw;
    rotate: 135deg;
    border-radius: 5% / 50%;
    background: linear-gradient(90deg, #ffffff00 30%, #ffffff 100%);
    animation: falling-star-animation-3 25s linear infinite both;
    animation-delay: 3s;
}

#background_falling_stars div:nth-child(4) {
    height: 1vh;
    width: 40vw;
    top: -40vh;
    left: 35vw;
    rotate: 135deg;
    border-radius: 3% / 50%;
    background: linear-gradient(90deg, #ffffff00 30%, #ffffff 100%);
    animation: falling-star-animation-4 20s linear infinite both;
    animation-delay: 1s;
}

#background_falling_stars div:nth-child(5) {
    height: 0.7vh;
    width: 20vw;
    top: 50vh;
    right: -15vw;
    rotate: 135deg;
    border-radius: 5% / 50%;
    background: linear-gradient(90deg, #ffffff00 30%, #ffffff 100%);
    animation: falling-star-animation-5 10s linear infinite both;
    animation-delay: 0s;
}

#background_falling_stars div:nth-child(6) {
    height: 0.6vh;
    width: 30vw;
    top: -20vh;
    right: 20vw;
    rotate: 135deg;
    border-radius: 5% / 50%;
    background: linear-gradient(90deg, #ffffff00 30%, #ffffff 100%);
    animation: falling-star-animation-6 15s linear infinite both;
    animation-delay: 0s;
}

@keyframes falling-star-animation-1 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(135deg);
        transform: translateX(0) translateY(0) rotate(135deg);
        opacity: 0%;
    }

    10% {
        -webkit-transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        opacity: 70%;
    }

    90% {
        -webkit-transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        opacity: 70%;
    }

    100% {
        -webkit-transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        opacity: 0%;
    }
}

@keyframes falling-star-animation-2 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(135deg);
        transform: translateX(0) translateY(0) rotate(135deg);
        opacity: 0%;
    }

    10% {
        -webkit-transform: translateX(-8vw) translateY(8vw) rotate(135deg);
        transform: translateX(-8vw) translateY(8vw) rotate(135deg);
        opacity: 70%;
    }

    90% {
        -webkit-transform: translateX(-72vw) translateY(72vw) rotate(135deg);
        transform: translateX(-72vw) translateY(72vw) rotate(135deg);
        opacity: 70%;
    }

    100% {
        -webkit-transform: translateX(-80vw) translateY(80vw) rotate(135deg);
        transform: translateX(-80vw) translateY(80vw) rotate(135deg);
        opacity: 0%;
    }
}

@keyframes falling-star-animation-3 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(135deg);
        transform: translateX(0) translateY(0) rotate(135deg);
        opacity: 0%;
    }

    10% {
        -webkit-transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        opacity: 70%;
    }

    90% {
        -webkit-transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        opacity: 70%;
    }

    100% {
        -webkit-transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        opacity: 0%;
    }
}

@keyframes falling-star-animation-4 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(135deg);
        transform: translateX(0) translateY(0) rotate(135deg);
        opacity: 0%;
    }

    10% {
        -webkit-transform: translateX(-7vw) translateY(7vw) rotate(135deg);
        transform: translateX(-7vw) translateY(7vw) rotate(135deg);
        opacity: 70%;
    }

    90% {
        -webkit-transform: translateX(-63vw) translateY(63vw) rotate(135deg);
        transform: translateX(-63vw) translateY(63vw) rotate(135deg);
        opacity: 70%;
    }

    100% {
        -webkit-transform: translateX(-70vw) translateY(70vw) rotate(135deg);
        transform: translateX(-70vw) translateY(70vw) rotate(135deg);
        opacity: 0%;
    }
}

@keyframes falling-star-animation-5 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(135deg);
        transform: translateX(0) translateY(0) rotate(135deg);
        opacity: 0%;
    }

    10% {
        -webkit-transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        opacity: 70%;
    }

    90% {
        -webkit-transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        opacity: 70%;
    }

    100% {
        -webkit-transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        opacity: 0%;
    }
}

@keyframes falling-star-animation-6 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(135deg);
        transform: translateX(0) translateY(0) rotate(135deg);
        opacity: 0%;
    }

    10% {
        -webkit-transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        transform: translateX(-6vw) translateY(6vw) rotate(135deg);
        opacity: 70%;
    }

    90% {
        -webkit-transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        transform: translateX(-54vw) translateY(54vw) rotate(135deg);
        opacity: 70%;
    }

    100% {
        -webkit-transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        transform: translateX(-60vw) translateY(60vw) rotate(135deg);
        opacity: 0%;
    }
}

header.masthead .bg-planet {

    position: absolute;
    transition: 0.5s;
    opacity: 100%;
}

header.masthead .bg-planet-1 {
    width: 20vh;
    height: 20vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(earth.png);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-size: cover;
    background-repeat: repeat-y;
    animation: planet-animation-1 60s linear infinite both;
}

header.masthead .bg-planet-1-right-bottom {
    width: 35vh;
    height: 35vh;
    max-width: 1500px;
    max-height: 1500px;
    bottom: -17.5vh;
    right: -17.5vh;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-image: url(earth.png);
    background-size: cover;
    animation: planet-animation-1 30s linear infinite both;
}

header.masthead .bg-planet-2 {
    width: 3vh;
    height: 3vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-image: url(moon.png);
    background-size: cover;
    animation: planet-animation-2 40s linear infinite;
}

header.masthead .bg-planet-2-right-bottom {
    width: 3vh;
    height: 3vh;
    max-width: 1500px;
    max-height: 1500px;
    bottom: -2.5vh;
    right: -2.5vh;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-image: url(moon.png);
    background-size: cover;
    animation: planet-animation-2-right-bottom 20s linear infinite;
}

header.masthead .bg-planet-3 {
    width: 4vh;
    height: 4vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-image: url(astronaut.png);
    background-size: cover;
    animation: planet-animation-3 120s linear infinite;
}

header.masthead .bg-planet-3-non-rotate {
    width: 4vh;
    height: 4vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-image: url(astronaut.png);
    background-size: cover;
    animation: planet-animation-3-non-rotate 60s linear infinite;
}

header.masthead .bg-planet-3-right-bottom {
    width: 4vh;
    height: 4vh;
    max-width: 1500px;
    max-height: 1500px;
    bottom: -4vh;
    right: -2.5vh;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-image: url(astronaut.png);
    background-size: cover;
    animation: planet-animation-3-right-bottom 50s linear infinite;
    animation-delay: 2s;
}

header.masthead .bg-planet-3-non-rotate-right-bottom {
    width: 4vh;
    height: 4vh;
    max-width: 1500px;
    max-height: 1500px;
    bottom: -4vh;
    right: -2.5vh;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.295));
    background-image: url(astronaut.png);
    background-size: cover;
    animation: planet-animation-3-non-rotate-right-bottom 40s linear infinite;
    animation-delay: 2s;
}

@keyframes planet-animation-1 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes planet-animation-2 {
    from {
        -webkit-transform: rotate(0deg) translateX(-40vh) rotate(0deg) rotate(0deg);
        transform: rotate(0deg) translateX(-40vh) rotate(0deg) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-40vh) rotate(-360deg) rotate(720deg);
        transform: rotate(360deg) translateX(-40vh) rotate(-360deg) rotate(720deg);
    }
}

@keyframes planet-animation-2-right-bottom {
    from {
        -webkit-transform: rotate(0deg) translateX(-45vh) rotate(0deg) rotate(0deg);
        transform: rotate(0deg) translateX(-45vh) rotate(0deg) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-45vh) rotate(-360deg) rotate(720deg);
        transform: rotate(360deg) translateX(-45vh) rotate(-360deg) rotate(720deg);
    }
}

@keyframes planet-animation-3 {
    from {
        -webkit-transform: rotate(0deg) translateX(-30vh) rotate(0deg) rotate(0deg);
        transform: rotate(0deg) translateX(-30vh) rotate(0deg) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-30vh) rotate(-360deg) rotate(10000deg);
        transform: rotate(360deg) translateX(-30vh) rotate(-360deg) rotate(10000deg);
    }
}

@keyframes planet-animation-3-right-bottom {
    from {
        -webkit-transform: rotate(0deg) translateX(-32vh) rotate(0deg) rotate(0deg);
        transform: rotate(0deg) translateX(-32vh) rotate(0deg) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-32vh) rotate(-360deg) rotate(5000deg);
        transform: rotate(360deg) translateX(-32vh) rotate(-360deg) rotate(5000deg);
    }
}

@keyframes planet-animation-3-non-rotate {
    from {
        -webkit-transform: rotate(0deg) translateX(-30vh) rotate(0deg) rotate(0deg);
        transform: rotate(0deg) translateX(-30vh) rotate(0deg) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-30vh) rotate(-360deg) rotate(360deg);
        transform: rotate(360deg) translateX(-30vh) rotate(-360deg) rotate(360deg);
    }
}

@keyframes planet-animation-3-non-rotate-right-bottom {
    from {
        -webkit-transform: rotate(0deg) translateX(-32vh) rotate(0deg) rotate(0deg);
        transform: rotate(0deg) translateX(-32vh) rotate(0deg) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-32vh) rotate(-360deg) rotate(360deg);
        transform: rotate(360deg) translateX(-32vh) rotate(-360deg) rotate(360deg);
    }
}